body{
        background-color:  #CAF0F8;
}
h1,h3{
        color:#66bfbf;
}
hr {
       border-style: none;
        border-top-style: dotted;
       border-color:grey;
        border-width: 5px;
         width: 5%;
}